annotated-types==0.6.0
anyio==4.0.0
certifi==2023.11.17
deprecation==2.1.0
exceptiongroup==1.1.3
gotrue==1.3.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
notion-client==2.1.0
packaging==23.2
postgrest==0.13.0
pydantic==2.5.1
pydantic_core==2.14.3
python-dateutil==2.8.2
python-dotenv==1.0.0
realtime==1.0.0
six==1.16.0
sniffio==1.3.0
storage3==0.6.1
StrEnum==0.4.15
supabase==2.0.3
supafunc==0.3.1
tqdm==4.66.1
typing_extensions==4.8.0
websockets==10.4
